<div class="container-fluid">
  <h3><%=link_to "Create your Own Goals", new_profile_path %></h3>
  <h1>Get to know some GOALdiggers</h1>
  <div class="row">
    <div class="col-sm-3 col-md-4" style="background-color:yellow;">
      <col>
        <% @profiles.each do |profile| %>
          <h3>
            <%= @profile.name%>
          </h3>
          <h4>Age
          <%= @profile.age %>
        </h4>
        <%= link_to image_tag @profile.photo_url, profile_path %>
        <h4>  <%= @profile.quote %></h4>
        <% end %>
      </col>
    </div>
  </div>
</div>
