<h2>New Profile</h2>

<%= form_for @profile do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :creationdate %>
  <%= f.text_field :creationdate %>

  <%= f.label :age %>
  <%= f.integer :age %>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :quote %>
  <%= f.text_field :quote %>

  <%= f.submit %>
<% end %>
