
<h1><%= @profile.name %></h1>
<%= image_tag @profile.photo_url%>
<div class = 'link'>
<%= link_to "Edit Profile", edit_profile_path %>
<%= link_to "Delete Profile", @profile.destroy %>
</div>

<button><%= link_to "I'm Ready To Set My Goals!", profile_goals_path  %><button>
