<div class="container-fluid">
  <h3><%=link_to "Create An Account", new_user_registration_path %></h3>
  <h3> <%=link_to "I want to create my goals!", new_goal_path %></h3>
  <h1>Get to know some GOALdiggers</h1>
  <div class="row">
        <% @goals.each do |goal| %>
        <col>
        <div class="col-sm-3 col-md-4" style="background-color:yellow;">
          <h3>
            <%= link_to goal.name, goal %>
          </h3>
          <h4>Age
          <%= goal.age %>
        </h4>
        <%= goal.photo_url %>
      </col>
    </div>
        <% end %>
  </div>
</div>
