<h2>I'm a GOALdigger</h2>

<%= form_for @goal do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.number_field :age, in: 1.0..100.0 %>

  <%= f.label :date %>
  <%= select_date Date.today, prefix: :creationdate %>

  <%= f.label :photo_URL %>
  <%= f.file_field :photo_url %>

  <%= f.label :Category %>
  <%= f.select :category, [['Fun','fun'],['Personal','personal'],['Career','career'],['Financial', 'financial'], ['Health','health']] %>
  <%= f.submit %>
<% end %>
