<!DOCTYPE html>
<html>
<head>
  <title>GOALdigger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav>
    <ul id="top-left-nav-bar">
      <li> <a href="#">about</a></li>
      <li> <a href="#">goalers</a></li>
      <li> <a href="#">categories</a></li>
      <li> <a href="#">contact</a></li>
    </ul>
    <ul id="top-right-nav-bar">
      <li> <a href="#">sign-in</a></li>
      <li>
        <!-- link to sign up page -->
        <%= link_to "Sign Up", new_user_registration_path %>
        <!--link to sign up page if not currently signed in -->
        <!-- <% if !current_user %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>-->
    </li>
    </ul>
  </nav>
  <h1>Be a GOALdigger!</h1>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>


</body>
</html>
