<!DOCTYPE html>
<html>
<head>
  <title>Goaldigger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  3<p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
