<!DOCTYPE html>
<html>
<head>
  <title>GOALdigger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <h1>Be a GOALdigger!</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- link to sign up page -->
  <%= link_to "Sign Up", new_user_registration_path %>
  <!--link to sign up page if not currently signed in -->
  <% if !current_user %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<%= yield %>


</body>
</html>
