<!DOCTYPE html>
<html>
<head>
  <title>GOALdigger</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
  <nav>
    <ul id="top-left-nav-bar">
      <li> <%=link_to "home", root_path %> </li>
      <li>  <%=link_to "goalers", profiles_path %></li>
      <!-- <li> contact<a href="#">contact</a></li> -->
    </ul>
    <ul id="top-right-nav-bar">
      <li>
        <%= link_to "sign-in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "sign-up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "sign-out", destroy_user_session_path %>
    </ul>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="content">

<%= yield %>

</div>
</body>
</html>
