<!DOCTYPE html>
<html>
<head>
  <title>GOALdigger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav>
    <ul id="top-left-nav-bar">
      <li> <a href="profiles#index">about</a></li>
      <li> <a href="#">goalers</a></li>
      <li> <a href="#">contact</a></li>
    </ul>
    <ul id="top-right-nav-bar">
      <li> <a href="#">sign-in</a></li>
      <li>
        <%= link_to "sign-up", new_user_registration_path %>
      </li>
    </ul>
  </nav>
  <h1>Be a GOALdigger!</h1>


<%= yield %>


</body>
</html>
